<app-layout-default>
    <div class="d-flex flex-row row-home">
        <div class="flex-fill">
                <div class="row g-3 align-items-stretch row-menu" *ngIf="discos.length!=0">
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12" *ngFor="let produto of discos" (click)="viewDetalheProduto(produto)" >
                        <app-produto-tile [data]="produto"></app-produto-tile>
                    </div>
                </div>
                <div *ngIf="discos.length==0 && loaded" class="nothing">
                    <mat-icon style="font-size: 50px; height: 50px; width: 50px; line-height: 50px;">
                        grid_off</mat-icon>
                    <h1>Nada encontrado</h1>
                </div>
                <div *ngIf="discos.length==0 && !loaded" class="nothing">
                    <mat-spinner></mat-spinner>
                    <h1>Procurando...</h1>
                </div>
        </div>
    </div>
</app-layout-default>