.mat-card{
    padding: 0 16px;
    width: 400px;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 16px 0;
    font-size: 20px;
}

.background-login{
    position: relative;
    overflow: hidden;
}
.background-login::before{
    content: "";
    height: 100%; 
    width: 100%;
    position: absolute;
    top: 0; left: 0;
    background-size: cover;
    background-image: url('https://www.10wallpaper.com/wallpaper/1366x768/1609/Vinyl_gramophone_macro-2016_Music_HD_Wallpaper_1366x768.jpg');
    filter: grayscale(100%) blur(10px);
    transform: scale(1.05);
}
// colors


$amarelo: #fff617;

::ng-deep .botao_amarelo{
  background-color: #fff617 !important;
  color: black !important;
}
