$cor_z: #e7d99a;
$ambar: #ffc107; 
.corz{
    background-color: $cor_z;
}
.ambar-icon{
    color: $ambar;
}

.quantidadeinput::-webkit-inner-spin-button{
    -webkit-appearance: none !important;
    margin: 0;
    -moz-appearance: textfield;

}