<app-layout-default>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <img class="rounded" src="https://m.media-amazon.com/images/I/A11LiwhOyhL._AC_SL1500_.jpg" width="500px">
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                      <h2>Golden Hour - Kacey Musgraves</h2>
                      <h6 class="lead">código do produto aqui</h6>
                      <mat-divider></mat-divider>
                      <h5 class="card-title">Formato: CD de áudio</h5>
                      <mat-icon class="ambar-icon">grade grade grade grade grade</mat-icon>
                    </div>
                    <div class="card-body">
                        <h1>R$ 51,9</h1>
                        <mat-divider></mat-divider>
                        <div class="row">
                            <h4>Descrição do produto:</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                        </div>
                        <mat-divider></mat-divider>
                        <div class="row">
                            <div class="col-4">
                                <span class="badge bg-success">Em estoque</span>
                            </div>
                        </div><br>
                        <div class="input-group mb-2">
                            <button class="btn btn-outline-secondary" type="button" id="button-addon1">-</button>
                            <input type="text" class="form-control" placeholder="Quantidade" aria-label="Example text with button addon" aria-describedby="button-addon1">
                            <button class="btn btn-outline-secondary" type="button" id="button-addon2">+</button>
                        </div>                        
                        <div class="row justify-content-around">
                            <div class="col-4">
                                <button class="btn btn-primary " type="button">Comprar</button>
                            </div>
                            <div class="col-4">
                                <button class="btn corz" type="button">Carrinho</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-layout-default>