<app-layout-default>
    <div class="justify-content-center align-items-center">
        <form class="mt-3 mb-3">
            <div class="col">
                <div class="row g-0">
                    <mat-form-field appearance="outline">
                        <mat-label>Nome</mat-label>
                        <input matInput name="login" required>
                        <mat-icon matSuffix>person</mat-icon>
                    </mat-form-field>
                </div>
                <div class="row g-0">
                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput name="login" required>
                        <mat-icon matSuffix>email</mat-icon>
                    </mat-form-field>
                </div>
            </div>
        </form>
    </div>
</app-layout-default>