.row-home{
    margin: 0px;
    height: 100%; width: 100%;
}

table {
    width: 100%;
}

.mat-column-star, .mat-header-star {
    flex: none;
    width: 20px;
    white-space: nowrap;
}

::ng-deep .mat-chip-list-wrapper {
    flex-wrap: wrap !important;
}