.example-container {
    height: 100%;
}

mat-drawer-content {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

mat-drawer{
    width: 360px;
}

#menu-side{
    width: 240px;
}